.search label
{
    margin-bottom:5px;
}
.search input:not([type="range"])
{
    border: 1px solid black !important;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background:var(--primaryColor);
  outline: none;
  transition: background 0.3s ease;
  margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background:rgb(224, 223, 223);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #1d3557;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}
